.container {
  border: 1px solid rgba(255,255,255,0.2);
  padding: 8px;
  color: white;
  background-color: darkred;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  &:hover {
    scale: 1.03;
  }

  &.active {
    background-color: green;
    cursor: initial;
  }
}