.container {
  border-bottom: 1px solid rgba(0,0,0, 0.2);
  justify-content: space-between;
  background-color: $navbar-color;
  padding: $navbar-padding;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  color: black;
  height: 50px;
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 50;
}

.search {
  background-color: rgba(0,0,0,0.1);
  border-radius: 24px;
  padding: 0 15px;
  border: none;
  height: 30px;
  width: 50%;

  &::placeholder {
    color: rgba(0,0,0,0.5);
    font-weight: 300;
    font-size: 13px;
  }
}