.container {
  width: 100%;
  background-color: $navbar-color;
  border-bottom: 1px solid rgba(0,0,0, 0.2);
  color: black;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: $navbar-padding;
  font-weight: 700;
  align-items: center;
  font-size: 13px;
}

.search {
  border: none;
  background-color: rgba(0,0,0,0.1);
  height: 30px;
  width: 50%;
  border-radius: 24px;
  padding: 0 15px;

  &::placeholder {
    font-weight: 300;
    color: rgba(0,0,0,0.5);
    font-size: 13px;
  }
}