$primary-color: rgb(0, 157, 224);
$secondary-color: rgba(0, 157, 224, 0.16);
$navbar-color: white;

$navbar-padding: 0 25px;
$shared-background-padding: 25px;
$shared-border-radius: 8px;

$shared-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

$shared-transition: 0.2s all ease-in-out;