.container {
  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 10px;
  padding: 0 $shared-background-padding 40px $shared-background-padding;
}