.container form {
  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 30px 25px 10px 25px;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  word-break: initial;
  &:hover {
    transform: scale(1.05);
  }
}